# This is a basic workflow to help you get started with Actions

name: Deploy Google Functions

# Controls when the workflow will run
"on":
  workflow_dispatch:
   inputs:
    environment:
     description: 'Environment'
     required: true
     default: 'fir-learning-a511d'
    project: 
     descripton: 'Project Name'
     required: true
     default: 'fir-learning-a511d'
    function_name:
     description: 'Cloud Function name to deploy (e.g., api)'
     required: true
     default: 'api'
    branch:
     description: 'Git branch/ref to deploy from'
     required: true
     default: 'main'


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    strategy:
     matrix:
       node-version: [20.x]
    
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.inputs.branch }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - id: string
      uses: Aszc/change-string-case-action@v1
      with: 
        string: ${{ github.event.inputs.environment }}

    - name: install libraries
      run: npm install
      working-directory: ./my_google_firebase_learning/Functions

    - name: deploy functions to Google Cloud
      uses: w9jds/firebase-actions@master
      with:
        args: deploy --only functions:${{ github.event.inputs.function_name }} --project ${{ github.event.inputs.project }}
      env:
         GCP_SA_KEY: ${{ secrets.GCP_SA_KEY}}

